*{
  font-family: sans-serif, serif, monospace;
}

:root {
  --background: #1f252f;
  --lighter_background: #262d3a;
  --grey_shadow: rgba(52, 61, 78, 0.7);
  --blue: #05fdf8;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: white;
}

.header {
  display:inline-flex;
  width:95vw;
  height:auto;
  max-width: 100% !important;
  margin: 0;
  padding-left: 2%;
  padding-right: 2%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px darkcyan;
}

.headerItems {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid 1px;
}

.hh:hover {
  color: var(--blue);
}

.section {
  background-color:	var(--lighter_background);
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 60px auto 1% auto;
  padding: 20px;
  width: 80vw;
}

.home, .questions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.questions {
  display:none;
}

.answers {
  height: auto;
  width:100%;
  text-align: left;
  margin:0.5%;
  background-color: var(--grey_shadow);
  border: groove 2px darkcyan;
  color:white;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 0.5% 1%;
}

#isItRight {
  display: none;
  justify-content: center;
  font-size: 24px;
  color:white;
}

#correctness {
  width:80vw;
  border-top:solid 1px darkcyan;
  padding-top: 0.25%;
  padding-left: 0.5%;
  color:white;
  font-size: 24px;
}

.scores {
  display:none;
  height:fit-content;
  height: 80vh;
}

.scoresContainer {
  width:auto;
  height: 60%;
  overflow: scroll;
  scrollbar-color: white transparent;
}

.home h6, .home button {
  font-size: 24px;
}

.title {
  font-size: 36px;
}

label, p {
  font-size: 24px;
}

input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2em;
  border: 1px solid white;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: transparent;
}

li {
  max-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 1%;
  background-color: var(--grey_shadow);
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
  border: groove 2px darkcyan;
  border-radius: 10px;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #ff7034;
  color: white;
  font-size: 1em;
}
